

@*TODO: FIX THIS PAGE SO THAT THE STUDY DATA MODEL PASSES THROUGH*@


<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@column.Key == 'all''" />
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.studies != null)
{

    <h3>@ViewBag.studies.Count Result(s)</h3>

    @foreach (Dictionary<string, string> study in ViewBag.studies)
    {
        <table class="study-listing">
            @foreach (KeyValuePair<string, string> study_fields in study)
            {
                <tr>
                    <td>@study_fields.Key</td>
                    <td>@study_fields.Value</td>
                </tr>

            }
        </table>

    }
}